nav(id='site-navigation')
  ul
    li
      a(href='#down-the-rabbit-hole') Down the Rabbit Hole
    li
      a(href='#pool-of-tears') The Pool of Tears
    li
      a(href='#rabbit-sends-in') Rabbit Sends in a Little Bill
    li
      a(href='#advice-from-caterpillar') Advice from a Caterpillar