// * Could be used for layout styles


.band {
  min-height: 80vh;
}

article {
  @include default-sizing($xlarge);
  display: flex;
  flex-flow: column-reverse;
  padding: 2em 0;
  & > div {
    &:first-child {
      flex: 0 0 50%;
    }
    &:last-child {
      flex: 0 0 50%;
    }
  }
  @include breakpoint(large){
    flex-flow: row;
  }
}