$red: #931621;
$indigo: #28464B;
$green: #2C8C99;
$dgreen: #326771;
$turquoise: #42D9C8;
$ddblue: #30373f;
$wheat: #f8d7ae;

$black: hsl(32, 10, 02);
$dgray: hsl(32, 10, 25);
$gray: hsl(32, 10, 45);
$lgray: hsl(32, 10, 70);
$llgray: hsl(32, 10, 82);

/* aliases */
$text: $llgray;
$background: $ddblue;
$text-light: $gray;
$error: $red;
$primary: $indigo;
$secondary: $green;
$clickable: $lgray;
$clickable-hover: lighten($red, 20%);